<div class="container px-5 px-sm-0">
  <h1>会員情報変更</h1>
  <%= form_with model: @customer, url: public_customer_path(current_customer.id), method: :patch do |f| %>
    <p>アカウント名</p>
    <%= f.text_field :account %>
    <%= f.submit "保存する" %>
    <%= link_to "登録削除", public_unsubscribe_path(current_customer) %>
  <% end %>
</div>