<div>
  <p><%= @home_appliance.model_number %>詳細</p>
  
  <div>
    <p>カテゴリー</p>
    <%= @home_appliance.genre.name %>
  </div>
  
  <div>
    <p>本体サイズ</p>
    <%= @home_appliance.body_size %>
  </div>
  
  <div>
    <%= link_to "レビューをする", new_public_review_path %>
  </div>
</div>
