<div>
  <h1><%= @home_appliances.model_number %>詳細</h1>
  <div>
    <h4>カテゴリー</h4>
    <div>
      <%= @home_appliances.genre.name %>
    </div>
    <h4>本体サイズ</h4>
    <div>
      <%= @home_appliances.body_size %>
    </div>
    <div>
      <%= link_to "レビューをする"
    </div>
  </div>
</div>