<div class="container">

  <h1>家電一覧</h1>
  <table class="table">
    <thead>
      <tr>
        <th><%= link_to "新規家電登録", new_admin_home_appliance_path, class: "btn btn-primary" %></th>
        <th></th>
      </tr>
    </thead>
  </table>
  <table class="table">
    <tbody>
      <% @home_appliances.each do |home_appliance| %>
        <tr>
          <td>
            <%= home_appliance.model_number %>
          </td>
          <td>
            <%= home_appliance.genre.name %>
          </td>
          <td>
            <%= link_to "詳細画面へ", admin_home_appliance_path(home_appliance.id), class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
