<div>
  <h1><%= @home_appliance.model_number %>詳細</h1>

  <div>
    <p>カテゴリー</p>
    <%= @home_appliance.genre.name %>
  </div>
  <div>
    <%= link_to "編集", edit_admin_home_appliance_path(@home_appliance.id) %>
  </div>
</div>