<div class="container px-5 px-sm-0">
  <h1>家電レビュー</h1>
  <div>
    <h4>最新レビュー</h4>
    <% @review.first(4).each do |review| %>
      <%= link_to public_review_path(review.id) do %>
        <%= review.home_appliance.model_number %>
      <% end %>
    <% end %>
  </div>
</div>