<div class="container px-5 px-sm-0">
  <h1>レビュー一覧</h1>

  <div>
    <table class="table">
      <% @reviews.each do |review| %>
      <thead>
        <tr>
          <th>レビュー日時</th>
          <th>家電型番</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= review.created_at %></td>
          <td>
            <%= link_to admin_review_path(review.id) do %>
              <%= review.home_appliance.model_number %>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>

</div>