<div>
  <h1>レビュー一覧</h1>

  <div>
    <% @reviews.each do |review| %>
    <div>
      <p>レビュー日時:<%= review.created_at %></p>
    </div>
    <div>
      <p>家電型番:<%= link_to admin_review_path(review.id) do %>
          <%= review.home_appliance.model_number %>
        <% end %>
      </p>
    </div>
    <% end %>
  </div>

</div>